.prg_bar{
	position: relative;
	left: 0%;
	width: 50%;
	height: auto;
}

.outer {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.contenedor{
with = 100%
max-width: 100%;
margin:0 auto;
overflow: hidden;

}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  transition: all 0.3s ease 0s;

  max-width: 100%;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 10%;
  width: 80%;
  height: 80%;
}

@font-face {
    font-family: fixedys;
    src: url("fixedys.ttf");
}

@font-face {
    font-family: celtic;
    src: url("Celtic MN Regular.ttf");
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: fixedys;
	color: white;
	text-decoration: noone;
	font-size: 3.5vw;

}

header{
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
}

.nav__links{
	list-style: noone;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
	color: #F8FF22;
}




.baner{
	width: 50%;
	height: auto;
	max-height: 10%;
	max-width: 10%;
	min-width: 70%;
	min-height: 70%;
}

.imagenes{
	width: 50%;
	height: auto;
	max-width: 90%;
	max-height: 90%;
}

body{
	background-image: url(background.png);
	background-repeat: -y;
}

h1{
  color: white;
  font-family: celtic;
  font-size: 3.65vw;
  text-decoration: none;
}

h2{
  color: white;
  font-family: fixedys;
  font-size: 2.7vw;
  text-decoration: none;
  font-weight: normal;
}

.sndcld{
	max-width: 20%;
	width: 20%;
	height: auto;
}

.spotify{
	max-width: 10%;
	width: 10%;
	height: auto;
}

.publi{
	width: 15%;
	height: auto;
}

*, *::before, *::after{
	box-sizing: border-box;
}

.progress-bar{
	width: 500px;
	height: 3em;
	background-color: #FFFFFF;
	border-radius: 1.5em;
}

.progress-bar::before{
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: 45em;
	top: 19.3em;
	bottom: 37em;
	width: calc(var(--width, 0)*1%);
	min-width: 2%;
	max-width: calc(100% - 1em);
	background-color: #D24B4B;
	border-radius: 1em;
	max-height: 90%;
}

input[type=text], select, textarea {
	font-family: fixedys;
	font-size: 30px;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #CDCDCD;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #2CA2C5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: fixedys;
  font-size: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #D2E55B;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #627073;
  padding: 20px;
}

label{
	font-family: fixedys;
	font-size: 30px;
}


.wiwi{
	cursor: pointer;
	/*position: relative;
	right: 23.2%;
	bottom: 11.8vw;
	width: 70px;
	height: 25px;
	background-color: orangered;
    border:none;*/
}


.typewriter {
	font-weight: normal;
	font-size: 3vw;
	color: white;
	font-family: fixedys;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange;  The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10.5s steps(92, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.wiwi{
	width: 30%;
	max-width: 90%;
	max-height: 90%;
}